/*--------------------------
    Detailled-event  
----------------------------*/

i {
  color: #873bdf;
}

.hero {
    text-align: center;
}

.event-hero{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 4% auto;
    gap: 1rem;
}
.hero-img{
    border-radius: 20px;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: auto;
     display: block;
     object-fit: cover;

}

.event-hero h1{
    font-size: 53px;
}

.icon i {
  margin-right: 8px;
  color: #40107b;
  margin-top: 2rem;
}


.text span {
  color: #873bdf;
  display: block;
}

.event-btn {
  background: #873bdf;
  color: white;
  border: none;
  padding: 0.8rem 4rem;
  text-align: center;
  margin: 2% auto; 
  border-radius: 6px;
  cursor: pointer;
  width: 80%;
  transition: background 0.3s ease;
}

.event-btn:hover {
  background: #40107b;
}

/* --------- About Event -------------*/

.about-event{
    width: 90%; 
    margin: 2rem auto;
    text-align: left;
}
.about-event h2{
    font-size : 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #7d20e8;
}

.about-event p {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  text-align: center;
}

.park{
    display:flex;
    flex-direction: column;
    gap: 0.6rem;
}

.park h4{
    margin-bottom: 0.5rem;
}
.park p{
    margin-bottom: 0.5rem;
}

.address {
  margin: 0.5rem 0;
  font-style: italic;
}
.similar{
    text-align: center;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns:1fr;
  gap:25px;
  padding: 0 1rem;
  transition:  background 0.3s ease;
}
.similar h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #873bdf;
}

.carte{
 display: grid;
 grid-template-rows: 1fr repeat(2,auto);
 background-color: white;
 border-radius: 15px;
 transition: .5s;
}

.carte:hover {
    box-shadow: 0 0 30px rgba(97, 96, 96, 0.8);
    transform: translateY(-10px);
}

.carte img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  flex-grow: 1;
}
.info{
  display: grid;
 grid-template-rows: 1fr repeat(2,auto);
  padding: 20px;
}
#dateEvent {
    color: hsl(0, 3%, 22%);
    font-size: 0.9rem;
}
#locationEvent{
    color: hsl(0, 3%, 22%);
    font-size: 0.9rem;
}

/*--------------------------
    RESPONSIVE DESIGN
----------------------------*/
/* Petit écran PC : 1024 – 1279px  */

@media (min-width: 1024px) {
  .event-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 2rem;
    width: 80%;
    margin: 4rem auto;
    border-radius: 20px;
    padding: 2rem;
  }

  .text {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .hero-img {
    border-radius: 12px;
    overflow: hidden;
  }

  .hero-img img {
    height: 100%;
    object-fit: cover;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }

  .carte:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(255, 43, 92, 0.3);
  }
  .carte img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .info {
    padding: 1rem;
  }
}