

/*section image global*/

.image-global{
    position: relative;
}

.image-articte img{
    width: 100%;
}

.btn-events{
    position: absolute;
    bottom: 8%;
    left: 3%;
}

.btn-events button{
    width: 150px;
    height: 50px;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-events button a{
    text-decoration: none;
    color: #ffffff;
}

@media (max-width:830px) {
    .btn-events button{
    width: 96px;
    height: 40px;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 20px;
    font-size: 12px;
}
    .btn-events img{
        width: 12px;
    }

}


/*section events categorie*/

/* part title*/

.title-global{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.title-global h3{
    margin-top: 12px;
}

/* part list categorie and date */

.list-categorie-date{
    display: flex;
    gap: 30px;
    margin-left: 11%;
    margin-bottom: 20px;
}

.list-categorie-date select,input{
    border: none;
    background-color: #D9D9D9;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

/* part cards artist events */

.all-card-artist{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    align-items: center;
    gap: 70px;
}

@media (max-width: 768px) and (max-width: 105px){
    .all-card-artist {
        grid-template-columns: 1fr, 100px;
    }

    
}

.all-card-artist img{
    width: 100%;
    border-radius: 30px;
}

.card-artist h4{
    font-size: 50px;
}

.card-artist .place-date h6{
    font-size: 15px;
}

/*part place and date and btn details*/

.place-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-details button{
    padding: 14px 45px;
    border: none;
    border-radius: 20px;
    background-color: #07212D;
    color: #A0CCC7;
    cursor: pointer;
}
