.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url("/assets/bg.jpg");
    background-position: center;
    background-size: cover;
}
.home-container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.home-container-content h1{
    font-size: 26px;
    font-weight: 900;
}

.home-container-content button{
    padding: 15px;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
}