.main-ticket {
    background-color: #0B0c10;
    color: #e1e1e1;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* header section */

.header-ticket-page {
    height: 100vh;
    background-image: url(/assets/artist-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-ticket-page .header-content h1 {
    color: #00aaff;
    font-size: 2.5em;
    margin: 1.5%;
    width: 100%;
}

.header-ticket-page .header-content h3 {
    text-align: center;
}

.header-ticket-page .header-content button {
    background-color: #0066cc;
    text-align: center;
    padding: 1em;
    border: none;
    margin: 5%;
    border-radius: 15px;
}

.header-ticket-page .header-content button a {
    color: #fff;
}

/* end header section */

/* evenet details */

.event-details {
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

.event-details h2 {
    color: #0066cc;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.event-details  .details-part {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: start;
    line-height: 1.6;
}

.event-details .artist-photo {
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,102,204,.5);
}

/*end evenet details */

/*form-ticket */

.buy-form {
    width: 60%;
    margin: 5% auto;
    background: #111421;
    border: 1px solid #00aaff;
    border-radius: 15px;
    padding: 2rem;
    transition: .5s;
    text-align: center;
}

.buy-form:hover {
    box-shadow: 0 0 50px rgba(0,102,204,.5);
    transform: translateY(-10px);
}

.buy-form h2 {
    color: #00aaff;
    margin-bottom: 1rem;
}

.buy-form .ticketform input,
.buy-form .ticketform select,
.buy-form .ticketform button{
    color: #fff;
    width: 80%;
    border-radius: 15px;
    border: none;
    padding: 1rem;
    background-color: #1d2233;
    margin: 4% 0;
    transition: .5s;
}

.buy-form .ticketform input:hover,
.buy-form .ticketform select:hover{
    outline: none;
    border: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
}

.buy-form .ticketform button {
    background-color: #0066cc;
    font-weight: bold;
    cursor: pointer;
    transform: .7s;
    width: 50%;
}

.buy-form .ticketform button:hover {
    transform: scale(1.5);
    box-shadow: 0 0 50px rgba(0,102,204,.5);
}

.buy-form .ticketform button:focus {
    opacity: .8;
} 

.buy-form .ticketform select option {
    color: white;
}

/*end form-ticket*/

/*gallery part*/

.gallery {
    width: 85%;
    margin: 3% auto;
    text-align: center;
}

.gallery h2 {
    color: #00aaff;
    margin-bottom: 1rem;
}

.gallery .images {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.gallery .img {
    border-radius: 1rem;
    transition: .5s;
}

.gallery .img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(0,102,204,.5);
}


/*end gallery part*/

/*feedbacks part*/

.feedbacks {
    width: 85%;
    margin: 3% auto;
    text-align: center;
    margin-bottom: 5%;
}

.feedbacks h2 {
    color: #00aaff;
    margin-bottom: 1rem;
}

.feedbacks .dives {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
}

.feedbacks .dives > div {
    background-color: #1d2233;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,102,204,.5);
}

/*end feedback part*/






